// Colors
$grey: #333333;
$light-grey: #fafafa;
$light-grey-border: #eeeeee;
$light-color: #aaa;
$pale-orange:#E18A07;
$pale-grey:#C0C0C0;
$dark-grey: #1E1E1E;

//Navigation colors
$nav-background: $grey;
$nav-text-color: white;

//Main Colors
$main-background-color: $dark-grey;
$main-font-color: white;
$main-orange-color:$pale-orange;
$main-grey-color:$pale-grey;
