/// GENERAL DISPLAY COMPONENT

body{
  font-family: 'Open Sans', sans-serif !important;
}


/// Main button display
.main-button{
  &, a{
    border: 1px solid $main-orange-color;
    padding: 10px;
    margin: 10px;
    color: $main-orange-color;
    text-align: center;
  }

  &:hover, a:hover{
    color:$black;
    background-color: $main-orange-color;
  }
}