.top-bar{

  border-bottom: 1px solid $main-orange-color;

  &, ul {
    background-color: white;
  }

  .menu{
    li > a{
      color: $main-grey-color;
    }
    .menu-text{
      color: $main-orange-color;
      a {
        display: inline;
        padding: 0;
      }
    }
  }

  .active-link {
    font-weight: bold;
  }
}
