.top-bar{

  &, ul {
    background-color: $nav-background;
  }

  .menu{
    li > a{
      color: $main-orange-color;
    }
    .menu-text{
      color:white;
      a {
        display: inline;
        padding: 0;
      }
    }
  }

  .active-link {
    font-weight: bold;
  }
}
