.news-item{
  margin-bottom: 2rem;

  .sub-infos{
    font-size: 15px;
    font-weight: bold;
  }

  .read-more-button{
    a {
      padding: 10px;
      border: 1px solid $main-orange-color;
      color: $main-orange-color;
    }
  }

  h5 {
    a {
      color: $main-grey-color ;
    }
  }
}

